.gitignore
#reference
resources/refseq/**/*.fa*
#!resources/refseq/hg38.fa
#!resources/refseq/hs1.fa
#resources
resources/sample/*
resources/tmp/*
results/*
log/*
workflow/rules/empty
.snakemake/
*.log
*.benchmark

questions.txt
temp_trash/*

workflow/rules/phenotyping.smk
*phenotyping*